.main-title() {
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  font-weight: 700;
}

.text-small() {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.input-text() {
  min-width: 240px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
  padding-top: 80px;
  padding-bottom: 14px;
}

.container-mobile () {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-mobile () {
  width: 265px;
  margin-left: auto;
  margin-right: auto;
}

.container-tablet () {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-tablet () {
  width: 668px;
  margin-left: auto;
  margin-right: auto;
}

.container-desktop () {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-desktop () {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
