.about-us {
  margin-bottom: 40px;
  .container-mobile ();
}

.about-us__wrapper {
  .wrapper-mobile ();
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__item {
  background-repeat: no-repeat;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  padding-top: 65px;
  padding-bottom: 18px;
  padding-right: 55px;

  &--ecology {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 10px 10px;

  }

  &--prices {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 2px 12px;
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 10px 17px;

  }

  &--nice {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 5px 15px;

  }

  &--domestic {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -2px 15px;
    padding-right: 0;
  }

  &--package {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 5px 15px;
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    .container-tablet ();
  }

  .about-us__wrapper {
    .wrapper-tablet ();

  }

  .about-us__list {
display: flex;
flex-wrap: wrap;
  }
  .about-us__item {
    width: 334px;
    box-sizing: border-box;
    &--ecology {
order:0;
    }

    &--prices {
      order: 2;
        }

    &--likes {
      order: 4;
    }

    &--nice {
      order: 1;
    }

    &--domestic {
      order: 3;
          }

    &--package {
      order: 5;
          }
  }

}
