.catalog-main {
  margin-top: 15px;
}

.catalog-main__title-wrapper {
  background-color: #f1f1f1;
  padding-top: 55px;
  padding-bottom: 60px;
  text-align: center;
  margin-bottom: 25px;
}

.catalog-main__title {
  .main-title();
}
