.contacts {
  margin-bottom: 40px;
  .container-mobile ();
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__email {
  display: flex;
  margin-bottom: 4px;
}

.contacts__adress {
  display: flex;
}

.contacts__info {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 30px;
  margin-bottom: 21px;
}

.contacts__field {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 15px;
  min-width: 76px;
  vertical-align: top;
}

.contacts__value {
  margin: 0;
  padding: 12px 0 15px;
  min-width: 182px;
  vertical-align: bottom;
}

.contacts__map {
  margin-bottom: 33px;
}

.contacts__write {
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: @tablet-width) {
  .contacts {
    .container-tablet ();
  }

  .contacts__wrapper {
    .wrapper-tablet();
  }

  .contacts__info {
    display: flex;
    font-size: 17px;
    line-height: 30px;
    margin-left: 0;
    margin-bottom: 43px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-left: 0;
    margin-left: -2px;
    margin-bottom: 36px;
  }

  .contacts__email {
    width: 370px;
  }

  .contacts__adress {
    width: 334px;
  }

  .contacts__write {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 227px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
    margin-left: -50px;
    margin-bottom: 48px;
  }
}
@media (min-width: @desktop-width) {
  .contacts {
    .container-desktop ();
  }

  .contacts__wrapper {
    .wrapper-desktop();
    padding-left: 225px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__info {
    display: block;
    width: 800px;
  }

  .contacts__email {
    display: block;
  }

  .contacts__adress {
    display: block;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
  }
}
