.form {
  .container-mobile();
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 55px;
}

.form__promo {
  .text-small();
  margin-bottom: 23px;
  padding-left: 30px;
  padding-right: 40px;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0 10px 0 92px;

  &--username {
    padding-left: 30px;
    margin-bottom: 37px;
  }
}

.form__item {
  margin-bottom: 13px;

  &--color {
    margin-bottom: 37px;
  }

  &--username {
    margin-bottom: 22px;
  }
}

.form__type {
  margin-bottom: 40px;
}

.form__title {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  margin-top: 2px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;



  &--username {
    margin-bottom: 25px;
    &::after {
      content: "";
      position: absolute;
      background-color: #63d1bb;
      height: 1px;
      width: 198px;
      left: 62px;
      top: 9px;
    }
  }

  &--tel {
    margin-bottom: 10px;
    margin-left: 0;
    &::after {
      content: "";
      position: absolute;
      background-color: #63d1bb;
      height: 1px;
      width: 198px;
      left: 62px;
      top: 9px;
    }
  }

  &--email {
    margin-bottom: 10px;
    margin-left: 0;
    &::after {
      content: "";
      position: absolute;
      background-color: #63d1bb;
      height: 1px;
      width: 177px;
      left: 82px;
      top: 7px;
    }
  }

  &--additional {
    margin-bottom: 23px;
    &::after {
      content: "";
      position: absolute;
      background-color: #63d1bb;
      height: 1px;
      width: 198px;
      left: 62px;
      top: 5px;
    }
  }

  &--color {
    margin-bottom: 32px;
  }
}

.form__input {
  &--username {
    .input-text();
    padding-top: 13px;
    position: relative;
    border-bottom: 2px solid #444444;

    &:hover {
      border-bottom-color: #62d1ba;
    }

    &:active {
      border-bottom-color: #62d1ba;
    }

    &:focus {
      border-bottom-color: #62d1ba;
    }
  }

  &--tel {
    .input-text();
    padding-top: 13px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 230px 5px;
    border-bottom: 2px solid #444444;

    &:hover {
      border-bottom-color: #62d1ba;
      background-image: url("../img/icon-phone-blue.svg");
    }

    &:active {
      border-bottom-color: #62d1ba;
      background: url("../img/icon-phone-blue.svg");
    }

    &:focus {
      border-bottom-color: #62d1ba;
      background: url("../img/icon-phone-blue.svg");
    }
  }

  &--email {
    .input-text();
    padding-top: 13px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 227px 5px;
    border-bottom: 2px solid #444444;

    &:hover {
      border-bottom-color: #62d1ba;
      background-image: url("../img/icon-mail-blue.svg");
    }

    &:active {
      border-bottom-color: #62d1ba;
      background-image: url("../img/icon-mail-blue.svg");
    }

    &:focus {
      border-bottom-color: #62d1ba;
      background-image: url("../img/icon-mail-blue.svg");
    }
  }

  &--additional {
    font-size: 17px;
    line-height: 18px;
    padding-top: 18px;
    margin-left: 30px;
    padding-left: 17px;
    padding-right: 8px;
    padding-bottom: 10px;
    position: relative;
    border: 2px solid #444444;
    &:hover {
      border-color: #62d1ba;
    }

    &:active {
      border-color: #62d1ba;
      outline: none;
    }

    &:focus {
      border-color: #62d1ba;
      outline: none;
    }
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  position: relative;

  &--type::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #444444;
    border-radius: 40px;
    position: absolute;
    left: -60px;
    top: -5px;
  }

  &--type:hover::before {
    border-color: #62d1ba;
  }

  &--type:active::before {
    border-color: #c7c7c7;
  }

  &--type:focus::before {
    border-color: #c7c7c7;
  }

  &--color::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #444444;
    position: absolute;
    left: -60px;
    top: -7px;
  }

  &--color:hover::before {
    border-color: #62d1ba;
  }

  &--color:active::before {
    border-color: #c7c7c7;
  }

  &--color:focus::before {
    border-color: #c7c7c7;
  }

  &--type::after {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background-color: #62d1ba;
    position: absolute;
    left: -50px;
    top: 5px;
    display: none;
  }

  &--color::after {
    content: url("../img/icon-tick-small.svg");
    position: absolute;
    left: -55px;
    top: 5px;
    display: none;
  }
}

.form__color-wrapper {
  margin-bottom: 40px;
}



.form__tel {
  margin-top: -6px;
  padding-bottom: 4px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.form__email {
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-left: 30px;
}

.form__additional {
  margin-bottom: 5px;
}

.form__warning {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  margin-left: 30px;
}

.form__submit {
  background-color: #ffffff;
  width: 260px;
  margin-left: 30px;
  padding-bottom: 12px;
}

.form__input--type:checked ~ .form__label--type::after {
  display: block;
}

.form__input--color:checked ~ .form__label--color::after {
  display: block;
}

.form__item--username:hover .form__label--username::after {
  background-color: #62d1ba;
}

.form__item--username:focus .form__label--username::after {
  background-color: #62d1ba;
}

.form__item--username:active .form__label--username::after {
  background-color: #62d1ba;
}
@media (min-width: @tablet-width) {
  .form {
    .container-tablet();
    padding: 0;
  }

  .form__promo {
    display: block;
    .wrapper-tablet ();
    box-sizing: border-box;
  }

  .form__type {
    display: flex;
    .wrapper-tablet ();
    box-sizing: border-box;
  }

  .form__color-wrapper {
    background-color: #f1f1f1;
  }

  .form__tel-email-wrapper {
    background-color: #f1f1f1;
  }

  .form__color {
    .wrapper-tablet();
    box-sizing: border-box;
    display: flex;
  }

  .form__item {
    &--type {
      margin-bottom: 30px;
    }

    &--color {
      width: 180px;
    }

    &--username {
      display: flex;
      margin: 0;
      border: none;
      width: 500px;
    }
  }

  .form__list--color {
    display: flex;
    flex-wrap: wrap;
    margin-left: 115px;
  }

  .form__title {
    width: 167px;
    text-align: left;
  }

  .form__username {
    .wrapper-tablet();
    box-sizing: border-box;
    display: flex;
  }

  .form__tel {
    .wrapper-tablet();
    box-sizing: border-box;
    display: flex;
    border: none;
  }

  .form__email {
    .wrapper-tablet();
    box-sizing: border-box;
    display: flex;
    border: none;
  }

  .form__input {
    &--userame {
      border-bottom: 2px solid #000000;
      flex-grow: 1;
      margin-left: 30px;
    }

    &--tel {
      border-bottom: 2px solid #000000;
      flex-grow: 1;
    }

    &--email {
      border-bottom: 2px solid #000000;
      flex-grow: 1;
    }

    &--additional {
      flex-grow: 1;
    }
  }

  .form__additional {
    .wrapper-tablet ();
    display: flex;
  }

  .form__footer {
    .wrapper-tablet();
    display: flex;
    justify-content: space-between;
  }

  .form__warning {
    order: 1;
  }
}
@media (min-width: @desktop-width) {
  .form {
    .container-desktop();
  }

  .form__promo {
    display: block;
    width: 700px;
    padding-left: 61px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  .form__type {
    display: flex;
    .wrapper-desktop ();
    box-sizing: border-box;
    padding-left: 61px;
  }

  .form__color {
    display: flex;
    .wrapper-desktop ();
    box-sizing: border-box;
    padding-left: 61px;
  }

  .form__item {
    &--color {
      width: 230px;
    }

    &--username {
      width: 700px;
    }
  }

  .form__list {
    &--color {
      margin-left: 50px;
    }
  }

  .form__username {
    .wrapper-desktop();
    box-sizing: border-box;
    display: flex;
    padding-left: 61px;
    padding-right: 175px;
  }

  .form__tel {
    .wrapper-desktop();
    box-sizing: border-box;
    display: flex;
    border: none;
    padding-left: 61px;
    padding-right: 175px;
  }

  .form__footer {
    .wrapper-desktop();
    box-sizing: border-box;
    display: flex;
    border: none;
    padding-left: 230px;
    padding-right: 175px;
  }

  .form__additional {
    .wrapper-desktop();
    box-sizing: border-box;
    display: flex;
    border: none;
    padding-left: 61px;
    padding-right: 175px;
  }

  .form__email {
    .wrapper-desktop();
    box-sizing: border-box;
    display: flex;
    border: none;
    padding-left: 61px;
    padding-right: 175px;
  }

  .form__input--username {
    flex-grow: 2;
  }
}
