.goods {
  margin-top: -18px;
  margin-bottom: 29px;
  .container-mobile();
  height: 205px;
  box-sizing: border-box;
  background-color: #63d1bb;
}

.goods__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 27px 185px 28px 30px;
  position: relative;
  height: 102px;
  box-sizing: border-box;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;

    &:hover {
      height: 107px;
    }

    &:focus {
      height: 107px;
    }

    &:active {
      height: 107px;
    }
  }

  &:hover {
    padding-top: 22px;
    box-sizing: border-box;
    transform: translateY(-5px);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);

    .goods__icon {
      opacity: 0.3;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .goods__icon {
      opacity: 0.3;
    }
  }
}

.goods__icon {
  &--interior {
    position: absolute;
    left: 240px;
    top: 22px;
  }

  &--toy {
    position: absolute;
    left: 230px;
    top: 20px;
  }
}

.goods__link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .goods {
    .wrapper-tablet ();
    margin-top: -147px;
    height: 125px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
  }

  .goods__list {
    display: flex;
  }

  .goods__item {
    min-width: 334px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    min-height: 118px;

    &:hover {
      min-height: 123px;
      padding-top: 22px;
      transform: translateY(-5px);
    }

    &:focus {
      min-height: 123px;
      padding-top: 22px;
      transform: translateY(-5px);
      color: rgba(255, 255, 255, 0.3);

      .goods__icon {
        opacity: 0.3;
      }
    }

    &:active {
      min-height: 123px;
      padding-top: 22px;
      transform: translateY(-5px);
      color: rgba(255, 255, 255, 0.3);

      .goods__icon {
        opacity: 0.3;
      }
    }
  }

  .goods__icon {
    &--interior {
      left: 255px;
      top: 30px;
    }

    &--toy {
      left: 240px;
      top: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .goods {
    .wrapper-desktop();
    margin-top: -154px;
    margin-bottom: 105px;
  }

  .goods__item {
    min-width: 525px;
  }

  .goods__icon {
    &--interior {
      left: 450px;
      top: 30px;
    }

    &--toy {
      left: 430px;
      top: 30px;
    }
  }
}
