.main-nav__wrapper {
  position: relative;
}

.main-nav__toggle {
  background: none;
  border: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 32px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -272px;
  margin-top: 40px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &--site {
    margin-top: 0;
  }

  &--promo {
    display: none;
  }
}

.main-nav__link {
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &focus {
    opacity: 0.3;
  }
}

.main-nav__item {
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin-bottom: -1px;
  min-width: 320px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;

  &--search::after {
    display: none;
  }

  &--search::before {
    display: none;
  }
}

.main-nav__wrapper:hover .main-nav__toggle {
  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__wrapper:focus .main-nav__toggle {
  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__wrapper:active .main-nav__toggle {
  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__delivery {
  display: none;
}

.main-nav__icon {
  &--cart {
    display: none;
  }

  &--search {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    margin: 0;

    &--promo {
      display: none;
    }

    &--catalog {
      margin-top: -5px;
      margin-left: -285px;
      font-size: 15px;
    }

    &--site {
      margin-left: -20px;
    }
  }

  .main-nav__item {
    background: none;
    border-top: none;
    border-bottom: none;
    min-width: 200px;

    &--cart {
      text-align: right;
    }

    &--search {
      position: relative;

      &::before {
        display: block;
        content: "";
        position: absolute;
        width: 1px;
        height: 90px;
        background: #ececec;
        top: -7px;
        left: 52px;
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        width: 1px;
        height: 90px;
        background: #ececec;
        top: -7px;
        right: 65px;
      }
    }

    &--catalog {
      text-align: left;
      min-width: 167px;
    }

    &--order {
      margin: 0;
      text-align: left;
    }
  }

  .main-nav__delivery {
    display: block;
    position: absolute;
    bottom: 13px;
    right: 0;
    font-size: 15px;
  }

  .main-nav__link--text {
    display: none;
  }

  .main-nav__icon {
    &--cart {
      display: block;
      position: absolute;
      right: 212px;
      top: 30px;
    }

    &--search {
      display: block;
      position: absolute;
      right: 95px;
      top: 32px;

      &:hover {
        path {
          fill: #63d1bb;
        }
      }
    }
  }

  .main-nav__link--cart:hover .main-nav__icon--cart {
    path {
      fill: #63d1bb;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    .wrapper-desktop();
    flex-wrap: wrap;
  }

  .main-nav__list {
    &--promo {
      display: flex;
      font-size: 15px;
      margin-right: auto;
      margin-top: 23px;
    }

    &--site {
      margin-left: auto;
    }

    &--catalog {
      margin-left: 0;
      font-size: 17px;
      margin-top: 0;
    }
  }

  .main-nav__delivery {
    position: static;
    margin-left: auto;
    margin-top: 22px;
  }

  .main-nav__item {
    &--catalog {
      width: 173px;
    }

    &--order {
      text-align: right;
    }

    &--promo {
      text-align: left;
      padding: 0;
      width: 220px;
    }

    &--search::before {
      height: 93px;
    }

    &--search::after {
      height: 93px;
    }
  }
}
