.page-header {
  display: flex;
  .container-mobile();
}

.page-header__logo {
  margin-left: 116px;
  margin-right: 66px;
  margin-top: 22px;
  height: 40px;
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    .wrapper-tablet ();
    justify-content: space-between;
  }

  .page-header__logo {
    margin-left: 0;
    margin-right: 170px;
    width: 100%;
    margin-top: 18px;
  }

  .page-header__logo-image {
    width: 113px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    .wrapper-desktop();
    flex-direction: column-reverse;
    margin-bottom: 93px;
  }

  .page-header__logo {
    margin-top: -135px;
    margin-left: 450px;
  }

  .page-header__logo-image {
    width: 148px;
  }
}
