.production {
  padding-left: 30px;
  padding-top: 13px;
  margin-bottom: 90px;

  &__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    padding-left: 90px;
    background-image: url("../img/icon-video.svg");
    background-position: 35px 5px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }

  &__info {
    .text-small();
    padding-left: 33px;
    padding-right: 70px;
    margin-bottom: 25px;
  }

  &__image {
    position: relative;
    margin-bottom: 8px;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__order {
    width: 187px;
    margin-left: 35px;
  }
}
