.production {
  .wrapper-mobile();
  padding-left: 30px;
  padding-top: 13px;
  margin-bottom: 90px;
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding-left: 90px;
  background-image: url("../img/icon-video.svg");
  background-position: 35px 5px;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 140px;
}

.production__info {
  .text-small();
  padding-left: 33px;
  padding-right: 70px;
  margin-bottom: 25px;
}

.production__order {
  width: 187px;
  margin-left: 35px;
}

@media (min-width: @tablet-width) {
  .production {
    .wrapper-tablet();
    margin-bottom: 105px;
  }

  .production__title {
    width: 250px;
    font-size: 20px;
  }

  .production__order {
    width: 583px;
    margin-right: auto;
  }

  .production__info {
    font-size: 15px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    .wrapper-desktop ();
  }

  .production__wrapper {
    width: 350px;
    position: relative;
    margin-left: 700px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: -600px;
  }

  .production__order {
    width: 187px;
    margin-left: 85px;
  }
}
