.promo {
  padding-left: 30px;
  margin-bottom: 67px;
}

.promo__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.promo__subtitle {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.promo__description {
  margin-bottom: 16px;
}

.promo__info {
  border-collapse: collapse;
  margin-bottom: 25px;
}

.promo__field {
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
  min-width: 100px;
}

.promo__value {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec;
  min-width: 160px;
}

.promo__image {
  margin-bottom: 20px;
}

.promo__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 70px;
  margin-bottom: 25px;
}
