.promo {
  margin-bottom: 69px;
  .container-mobile();
}

.promo__wrapper {
  .wrapper-mobile();
  padding-left: 4px;
}

.promo__title {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  margin-top: 10px;
}

.promo__subtitle {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.promo__description {
  margin-bottom: 16px;
}

.promo__info {
  border-collapse: collapse;
  margin-bottom: 25px;
}

.promo__field {
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
  min-width: 100px;
}

.promo__value {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec;
  min-width: 160px;
}

.promo__image {
  margin-bottom: 20px;
}

.promo__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 70px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .promo {
    .wrapper-tablet();
    margin-bottom: 115px;
  }

  .promo__wrapper {
    .wrapper-tablet();
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .promo__title {
    margin-left: -2px;
  }

  .promo__subtitle {
    width: 80px;
    margin-left: 140px;
    margin-top: 22px;
    text-align: center;
    line-height: 17px;
  }

  .promo__wrapper-info {
    width: 335px;
    margin-top: 15px;
  }

  .promo__description {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    width: 290px;
    margin-bottom: 35px;
  }

  .promo__field {
    min-width: 95px;
  }

  .promo__price {
    margin-right: auto;
    min-width: 600px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 33px;
    margin-top: -109px;
  }

  .promo__order {
    margin-right: auto;
    width: 285px;
    margin-top: -52px;
  }

  .promo__image-wrapper {
    margin-top: 40px;
    width: 333px;
    height: 403px;
    background-color: #ececec;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    .wrapper-desktop();
    margin-bottom: 154px;
  }

  .promo__wrapper {
    width: 875px;
    margin-left: 175px;
    position: relative;
  }

  .promo__wrapper-info {
    margin-top: 27px;
  }

  .promo__title {
    width: 700px;
    margin-left: -4px;
    z-index: 5;
  }

  .promo__description {
    width: 290px;
    margin-bottom: 45px;
  }

  .promo__subtitle {
    position: absolute;
    width: 90px;
    left: -277px;
    top: 3px;
  }

  .promo__image-wrapper {
    width: 526px;
    height: 637px;
    margin-top: -115px;
    margin-left: 12px;
  }

  .promo__price {
    margin-top: -110px;
    margin-left: 4px;
  }

  .promo__order {
    width: 289px;
    margin-top: -55px;
  }
}
