.reviews {
  margin-bottom: 85px;
  .container-mobile ();
}

.reviews__wrapper {
  .wrapper-mobile ();
}

.reviews__text {
  line-height: 30px;
  margin-bottom: 30px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-style: normal;
}

.reviews__author-instagram {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  font-style: normal;
  text-decoration: none;
}

.reviews__item {
  margin: 0 0 30px;
}

.reviews__toggle {
  background: none;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  width: 132px;
  height: 50px;
  background-position: center;
  margin-bottom: 38px;
  margin-right: 0;

  &--backward {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--forward {
    background-image: url("../img/icon-right-arrow.svg");
    margin-left: -3px;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    .container-tablet ();
    margin-bottom: 190px;
  }

  .reviews__wrapper {
    .wrapper-tablet ();
    position: relative;
  }

  .reviews__title
  {
    margin-left: -5px;
    margin-bottom: 50px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  .reviews__write {
    position: absolute;
    right: 0;
    top: 0;
    width: 171px;
  }

  .reviews__author-name
  {
    font-size: 18px;
  }

.reviews__author-instagram
{
  display: inline-block;
  margin-top: 5px;
}

  .reviews__toggle {
    position: absolute;
    margin-bottom: 0;
    border: none;

    &--backward {
      right: 68px;
      bottom: 5px;
    }

    &--forward {
      right: -20px;
      bottom: 5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    .wrapper-desktop ();
    margin-bottom: 283px;
  }

  .reviews__wrapper {
    width: 875px;
    margin-left: 175px;
    margin-right: 0;
  }

  .reviews__text {
    margin-bottom: 36px;
    width: 770px;
  }

  .reviews__write {
    top: 7px;
  }

  .reviews__author-name
  {
    font-size: 17px;
  }

}
