.reviews {
  margin-bottom: 85px;
  .container-mobile ();
}

.reviews__wrapper {
  .wrapper-mobile ();
}

.reviews__text {
  line-height: 30px;
  margin-bottom: 30px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-style: normal;
}

.reviews__author-instagram {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  font-style: normal;
}

.reviews__item {
  margin: 0 0 30px;
}

.reviews__toggle {
  background: none;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  width: 128px;
  height: 50px;
  background-position: center;
  margin-bottom: 38px;

  &--backward {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--forward {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
@media (min-width: @tablet-width) {
  .reviews {
    .container-tablet ();
  }

  .reviews__wrapper {
    .wrapper-tablet ();
    position: relative;
  }

  .reviews__write {
    position: absolute;
    right: 0;
    top: 0;
  }

  .reviews__toggle {
    position: absolute;
    margin-bottom: 0;

    &--backward {
      right: 100px;
      bottom: 0;
    }

    &--forward {
      right: 0;
      bottom: 0;
    }
  }
}
