.social__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.social__link {
  display: inline-block;
  background-repeat: no-repeat;
  width: 25px;
  height: 40px;
  background-position: center;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    background-position: 5px 5px;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    margin-right: 47px;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 190px;
    justify-content: space-between;
  }
}
